{{!-- {{#give-me modelName="categories" as |allDem|}}
{{/give-me}} --}}
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="title">Available Now!!!</h2>

          {{#each model as |value|}}
            <div class="box">

              <h3 class="subtitle">{{value.name}}</h3>

              <ul>
                {{#each value.games as |game|}}
                  <li class="game box">
                    {{game.name}}

                    <button class="button is-primary" {{action 'addToCart' game }}>Add to Cart</button>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="subtitle">Cart</h3>
          {{#each cart.items as |cartItem|}}
            <li>{{cartItem.data.name}} - {{cartItem.quantity}}</li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
